<body>
<app-header></app-header>

<ul id="progressbar">
  <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Хочу обменять</li>
  <li [ngClass]="step>=2 ? 'active' : 'inactive'">Хочу получить</li>
  <li [ngClass]="step==3 ? 'active' : 'inactive'">Адрес доставки</li>
</ul>
<div class="centered-container">
  <div class="backgroundforbook">
    <div class="backgroundforbook1">
      <div class="backgroundforbook2">
        <form [formGroup]="offerListForm" [style.display]="step == 1 ? 'block' : 'none'">
          <!-- progressbar -->
          <!--Страница 1 левая  -->
          <fieldset class="book">

            <div class="page left-page">
              <div>
                <h3 class="word1" style="  padding-left: 10px ;">Хочу обменять:</h3>
              </div>
              <label class="label1"> Автор* </label><br>
              <div>
                <input maxlength="50"  formControlName="lastname" class="forbox" type="text" required
                       placeholder="Фамилия">

                <input  maxlength="20"  formControlName="firstname" class="forbox1" type="text"  required
                       placeholder="Имя"><br>
                <div>

                  <label *ngIf="trade.lastname">
                    <label *ngIf="exchange_step || trade.lastname.touched  && offerListForm.controls.lastname.errors">
                      <!--            <label class="warningval" *ngIf="trade.lastname.errors?.required">Заполните фамилию</label>-->
                      <label *ngIf="trade.lastname?.errors?.required" class="warningval">Заполните фамилию</label>
                    </label>
                  </label>

                  <label *ngIf="trade.firstname">
                    <label *ngIf="exchange_step || trade.firstname.touched && offerListForm.controls.firstname.errors">
                      <label *ngIf="trade.firstname.errors?.required" class="warningval1">Заполните имя</label>
                    </label>
                  </label>
                </div>
              </div>
              <label class="label1"> Название книги* </label><br>
              <input maxlength="50"  formControlName="bookName" class="forbox2" type="text" required
                     placeholder="Название книги"><br>
              <div *ngIf="exchange_step || trade.bookName.touched && offerListForm.controls.bookName.errors">
                <div *ngIf="trade.bookName.errors?.required" class="warningval">Заполните название книги</div>
              </div>
              <label class="label1"> ISBN </label>
              <label  class="label2"> Год издания* </label><br>

              <input  maxlength="13" formControlName="isbn" class="forbox3" type="text"  placeholder="ISBN">

              <input maxlength="4"  formControlName="publishYear" class="forbox4" type="text"  required
                     placeholder="Год издания"><br>
              <div *ngIf="exchange_step || trade.publishYear.touched  && offerListForm.controls.publishYear.errors">
                <div *ngIf="trade.publishYear.errors?.required" class="warningval2">Заполните год издания</div>
              </div>
            </div>

            <!--Страница 1 правая  -->
            <div class="page right-page">
              <div class="category">
                <h3 class="word1" style="  padding-left: 10px ;">Категории:</h3>
                <ul>
                  <nz-tree class="categories" style="  padding-top: 30px ;"
                           [nzData]="offerListNodes"
                           nzCheckable
                           [nzExpandedKeys]="offerDefaultExpandedKeys"
                           (nzCheckBoxChange)="onOfferListCheckBoxClick($event)"
                  ></nz-tree>
                </ul>
              </div>
              <input (click)="next()" type="button" value="Далее" name="next" class="action-button"/>
            </div>

          </fieldset>
        </form>
        <!--Страница 2 левая  -->
        <form [formGroup]="wishListForm" [style.display]="step == 2 ? 'block' : 'none'">
          <fieldset class="book">
            <div class="page left-page">
              <div class="category">
              <h2 class="word1">Хочу получить:</h2>
              <ul>
                <nz-tree class="categories" style="  padding-top: 30px ;"
                         [nzData]="wishListNodes"
                         nzCheckable
                         [nzExpandedKeys]="wishDefaultExpandedKeys"
                         (nzCheckBoxChange)="onWishListCheckBoxClick($event)"
                ></nz-tree>
              </ul>
              </div>

              <input (click)="previous()" type="button" value="Назад" name="previous"
                     class="previous action-button-previous"/>
            </div>
            <!--Страница 2 правая  -->
            <div class="page right-page">

              <input (click)="next()" type="button" name="next" value="Далее" class="next action-button"/>
            </div>
          </fieldset>

        </form>

        <form [formGroup]="addressDetailsForm" [style.display]="step == 3 ? 'block' : 'none'">
          <fieldset class="book">
            <!--Страница 3 левая  -->
            <div class="page left-page">
              <h2 class="word1">Адрес доставки:</h2><br>

              <label class="label1"> Город* </label><br>
              <div>
                <input formControlName="addrCity" class="forbox2" type="text" required
                       placeholder="Город">
                <div *ngIf="info_step && addressDetailsForm.controls.addrCity.errors">
                  <div *ngIf="info.addrCity?.errors?.required" class="validator">Заполните город</div>
                </div>
              </div>
              <label class="label1"> Улица* </label>
              <label class="label3"> Индекс </label><br>
              <input formControlName="addrStreet" class="forbox5" type="text" required
                     placeholder="Название улицы">

              <input maxlength="6" formControlName="addrIndex" class="forbox5" type="text"
                     placeholder="Заполните индекс"><br>

              <label class="label1"> Строение* </label>
              <label class="label3"> Дом* </label>
              <label class="label4"> Квартира </label><br>
              <input formControlName="addrStructure" class="forbox5" type="text"
                     placeholder="Строение">

              <input formControlName="addrHouse" class="forbox5" type="text"  required
                     placeholder="Дом">

              <input formControlName="addrApart" class="forbox5" type="text"  required
                     placeholder="Квартира"><br>
              <label class="label1"> Ваши адреса: </label>
              <button class="buttons" type="button" name="option" [formGroup]="offerListForm" (click)="inputclear()"> Удалить выбор </button><br>
                <div
                  class="label" >
                    <div >
                        <div class="label5" *ngFor="let inf of usera.addresses" [formGroup]="CheckForm">
                          <input type="radio" name="option" [formGroup]="offerListForm" (change)="checkboxChanged(inf)">
                          <label > г.{{inf.addrCity}}, ул.{{inf.addrStreet}}, индекс {{inf.addrIndex}}</label>
                        </div>


                  </div>
                </div>
            </div>
              <input (click)="previous()" type="button" name="previous" value="Назад"
                     class="previous action-button-previous"/>

            <!--Страница 3 правая  -->
            <div class="page right-page">

              <label class="label1"> Фамилия </label><br>
              <input formControlName="NameLast" class="forbox2" type="text"
                     placeholder="Фамилия"><br>

              <label class="label1"> Имя </label><br>
              <input formControlName="Name" class="forbox2" type="text"
                     placeholder="Имя"><br>

              <label class="label1"> Отчество </label><br>
              <input formControlName="middleName" class="forbox2" type="text"
                     placeholder="Отчество"><br>


              <input (click)="submit()" name="i" type="button" class="input-action-button" value="Отправить заявку"/>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
