<body>

<div class="header">
  <img src="assets\logo.png" alt="Logo" class="logo">
  <div class="buttons">
    <button
      routerLink="/home">Главная</button>
    <button routerLink="/exchange">Начать обмен</button>
    <button nz-button (click)="createMessage('warning')">Мои обмены</button>
    <button (click)="'info4'">Задать вопрос</button>

  </div>
  <div class="auth">
    <button (click)="showLogin()">Login</button>
    <a routerLink="/registration"> Registration</a>
  </div>
</div>
<div class="bottom-container">
</div>
<ul id="progressbar">
  <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Хочу обменять</li>
  <li [ngClass]="step>=2 ? 'active' : 'inactive'">Хочу получить</li>
  <li [ngClass]="step==3 ? 'active' : 'inactive'">Адрес доставки</li>
</ul>
<div class="centered-container">
  <div class="backgroundforbook">
    <div class="backgroundforbook1">
      <div class="backgroundforbook2">

<form [formGroup]="needExchange">
    <!-- progressbar -->
  <!--Страница 1 левая  -->
    <fieldset  class="book"  *ngIf="step == 1" >

      <div class="page left-page">
        <div>
        <h2 class="word1">Хочу обменять:</h2>
        </div>
        <label class="label1"> Автор* </label><br>
        <div>
        <input formControlName="SecondName" class="forbox" type="text" ng-model="ctrl.surname" required placeholder="Фамилия">
        <div *ngIf="exchange_step && needExchange.controls.SecondName.errors">
          <div *ngIf="trade.SecondName.errors?.required"  class="validator">Заполните фамилию</div>
        </div>
        <input formControlName="FirstName" class="forbox1" type="text" ng-model="ctrl.surname" required placeholder="Имя"><br>
        <div *ngIf="exchange_step && needExchange.controls.FirstName.errors">
          <div *ngIf="trade.FirstName.errors?.required" class="validator1">Заполните имя</div>
        </div>
        </div>
        <label class="label1"> Название книги* </label><br>
        <input formControlName="BookName" class="forbox2" type="text"  ng-model="ctrl.surname" required placeholder="Название книги"><br>
        <div *ngIf="exchange_step && needExchange.controls.BookName.errors">
          <div *ngIf="trade.BookName.errors?.required">Заполните название книги</div>
        </div>
        <label class="label1" > ISBN </label>
        <label class="label2"> Год издания* </label><br>

        <input formControlName="ISBN" class="forbox3" type="text" ng-model="ctrl.surname" placeholder="ISBN">

        <input formControlName="Year" class="forbox4" type="text" ng-model="ctrl.surname" required placeholder="Год издания"><br>
        <div *ngIf="exchange_step && needExchange.controls.Year.errors">
          <div *ngIf="trade.Year.errors?.required">Заполните год издания</div>
        </div>
      </div>
      <div class="page right-page">
        <div>
          ИЕРАРХИЧЕСКИЙ СПИСОК
        </div>
        <input (click)="next()" type="button" name="next" class="action-button" />
      </div>

    </fieldset>
  </form>
  <!--Страница 2 левая  -->
  <form  [formGroup]="Wanted">
    <fieldset  class="book" *ngIf="step == 2" >
      <div class="page left-page">
      <h2 class="word1">Хочу получить:</h2>
        <label class="label1" > Пример* </label>
        <input formControlName="WannaTake" class="forbox4" type="text" ng-model="ctrl.surname" required placeholder="Пример"><br>
        <div *ngIf="wanted_step && Wanted.controls.Year.errors">
          <div *ngIf="want.WannaTake.errors?.required">Заполните год издания</div>
        </div>
        <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"/>
      </div>
      <!--Страница 2 правая  -->
      <div class="page right-page">
      <div class="label1">Иерархический список</div>
        <input  (click)="next()" type="button" name="next" class="next action-button"/>
        </div>
    </fieldset>

  </form>
  <form [formGroup]="InfoDetail">
    <fieldset  class="book" *ngIf="step == 3">
      <!--Страница 3 левая  -->
      <div class="page left-page">
      <h2 class="word1">Адрес доставки:</h2><br>
        <label class="label1"> Город* </label><br>
        <div>
          <input formControlName="City" class="forbox2" type="text" ng-model="ctrl.City" required placeholder="Город">
          <div *ngIf="info_step && InfoDetail.controls.City.errors">
            <div *ngIf="info.City.errors?.required"  class="validator">Заполните фамилию</div>
          </div>
        </div>
        <label class="label1"> Улица* </label><br>
        <input formControlName="Street" class="forbox2" type="text"  ng-model="ctrl.street" required placeholder="Название улицы"><br>
        <div *ngIf="info_step && InfoDetail.controls.Street.errors">
          <div *ngIf="info.Street.errors?.required">Заполните название книги</div>
        </div>
        <label class="label1" > Строение* </label>
        <label class="label3"> Дом* </label>
        <label class="label4"> Квартира </label><br>
        <input formControlName="Build" class="forbox5" type="text" ng-model="ctrl.surname" placeholder="Строение">
        <div *ngIf="info_step && InfoDetail.controls.Build.errors">
          <div *ngIf="info.Build.errors?.required">Заполните строение</div>
        </div>
        <input formControlName="House" class="forbox5" type="text" ng-model="ctrl.surname" required placeholder="Дом">
        <div *ngIf="info_step && InfoDetail.controls.House.errors">
          <div *ngIf="info.House.errors?.required">Заполните дом</div>
        </div>
        <input formControlName="apartment" class="forbox5" type="text" ng-model="ctrl.surname" required placeholder="Квартира"><br>

        <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" />
      </div>
      <!--Страница 3 правая  -->
      <div class="page right-page">

        <label class="label1"> Фамилия* </label><br>
        <input formControlName="SecondName" class="forbox2" type="text"  ng-model="ctrl.surname" required placeholder="Фамилия"><br>
        <div *ngIf="info_step && InfoDetail.controls.SecondName.errors">
          <div *ngIf="info.SecondName.errors?.required">Заполните фамилию</div>
        </div>
        <label class="label1"> Имя* </label><br>
        <input formControlName="FirstName" class="forbox2" type="text"  ng-model="ctrl.surname" required placeholder="Имя"><br>
        <div *ngIf="info_step && InfoDetail.controls.FirstName.errors">
          <div *ngIf="info.FirstName.errors?.required">Заполните имя</div>
        </div>
        <label class="label1"> Отчество* </label><br>
        <input formControlName="MiddleName" class="forbox2" type="text"  ng-model="ctrl.surname" required placeholder="Отчество"><br>
        <div *ngIf="info_step && InfoDetail.controls.MiddleName.errors">
          <div *ngIf="info.MiddleName.errors?.required">Заполните отчество</div>
        </div>

      <input (click)="submit()"type="submit" name="submit" class="submit action-button" />
      </div>
    </fieldset>

  </form>
      </div>
    </div>
  </div>
</div>
</body>
