body {
  background: linear-gradient( to bottom, #FFC76B, #FFE5BA) fixed;
  overflow-x: hidden;
}
.centered-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.registration-form{
  width: 500px;
  border: 1px solid aliceblue;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  background-color: aliceblue;
}

.forbox {
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
}
.forbox1 {
  width: 50%;
  border: 1px solid white;
  border-radius: 20px;
  flex: 1; /* Занимает равное пространство в строке */
  margin-right: 20px; /* Расстояние между ячейками */
}

.forbox1:last-child {
  margin-right: 0; /* Убирает отступ после последней ячейки */
}
.forbox2 {
  width: 100%;
  border: 1px solid white;
  border-radius: 0px;
}
.text {
  margin-left: 23%;
}
.text1 {
  margin-left: 26%;
}
.text2 {
  margin-left: 27%;
}
.text3 {
  margin-left: 20%;
}
.flex
{
  display: flex;
}
.custom-btn {
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 10px;
}
.btn-back {
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 10px;
}
.warningval {
  color:red;

}
.warningval1 {
  color:red;
  margin-left:20px;

}
