body {
  overflow-x: hidden;
  background: linear-gradient( to bottom, #FFC76B, #FFE5BA) fixed;
}

.logo img {
  width: 100px;
  height: auto;
}

.spin-container {
  display: flex;
  justify-content: center;
  padding: 15% 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  padding: 20px;
}

.buttons button{
  background-color: #555;
  color: white;
  padding: 16px 32px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px
}
a { font-size: 20px}

.auth button {
  background-color: #777;
  color: white;
  padding: 8px 16px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px
}

.logo img {
  width: 100px;
  height: auto;
}


p {
  font-size: 30px;
  font-family: TimesNewRoman;
}
.segment-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-block-end: 1rem;
}

.btn-wrappers {
  block-size: 10rem;
  border: 1px solid var(--ant-primary-6);
}

.centered-container{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  width: 1000px;
  padding: 20px;
  border: 1px solid aliceblue;
  border-radius: 20px;
  margin: 50px;
  background-color: aliceblue;
}
.form1{

  width: 1200px;
  display: flex;
}
.left-column {
  padding-bottom: 17px;
  width: 60%;
  background-color: cornsilk;
}

.right-column {
  padding: 20px;
  width: 40%;
  background-color: lightgray;
}
.up-column {

  padding-top: 20px;
  line-height: 25px;
  height: 35%;
  background-color:white ;
}

.down-column {
  padding: 20px;


  background-color: cornsilk;
}

h2{
  color: #FFC76B;
  font-weight: 500;
  font-size: 68px;
  font-family: Impact, fantasy;
}

h1{
  color: #FFE5BA;
  font-weight: 1000;
  font-size: 30px;
}
h3{
  font-weight: 600;
  font-size: 24px;
  font-style: oblique;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.containerfirst {
  background-color: rgba(146, 171, 253, 1);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  padding: 0px;
  overflow: hidden;
}
.container{

  padding: 20px;

}
.word1 {
  color: #FFC76B;
  margin: 10px;
  font-family: Impact, fantasy;
  text-align: center;
  font-size: 70px;
  display: inline-block;
  opacity: 0;
  animation: fadeInUp 1s forwards;
}
.word2 {
  color: #FFC76B;
  margin: 10px;
  font-family: Impact, fantasy;
  text-align: center;
  font-size: 70px;
  display: inline-block;
  opacity: 0;
  animation: fadeInUp 2s forwards;
}
.word3 {
  color: #FFC76B;
  margin: 10px;
  font-family: Impact, fantasy;
  text-align: center;
  font-size: 70px;
  display: inline-block;
  opacity: 0;
  animation: fadeInUp 3s forwards;
}
.word4 {
  color: black;
  margin: 10px;
  font-family: Impact, fantasy;
  text-align: left;
  font-size: 30px;
  display: inline-block;
  opacity: 0;
  animation: fadeInRight 3s forwards;
}
.word5 {
  color: black;
  margin: 10px;
  font-family: Impact, fantasy;
  text-align: left;
  font-size: 30px;
  display: inline-block;
  opacity: 0;
  animation: fadeInRight 4s forwards;
}
.word6 {
  color: black;
  margin: 10px;
  font-family: Impact, fantasy;
  text-align: left;
  font-size: 30px;
  display: inline-block;
  opacity: 0;
  animation: fadeInRight 5s forwards;
}
.word7 {
  color: black;
  margin: 10px;
  font-family: Impact, fantasy;
  text-align: left;
  font-size: 30px;
  display: inline-block;
  opacity: 0;
  animation: fadeInRight 6s forwards;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translatex(10%);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
