<body>
<div class="header">
      <img src="logo.png" alt="Logo" class="logo">
    <div class="buttons">
      <button (click)="'info1'">Главная</button>
      <button (click)="'info2'">Начать обмен</button>
      <button nz-button (click)="createMessage('warning')">Мои обмены</button>
      <button (click)="'info4'">Задать вопрос</button>

    </div>
    <div class="auth">
      <button (click)="showLogin()">Login</button>
      <a routerLink="/registration"> Registration</a>
    </div>
</div>
<div class="book">
  <div class="page left-page">
    <div class="word4">Это даёт шанс бумажным книгам продлить свою жизнь </div>
    <div class="word5">помогает владельцам книг делиться хорошими<br> историями и получать новые впечатления</div>
    <div class="word4">Все буккроссеры любят свои книги и любят их читать</div>
    <div class="word5">Они щедрые, новаторские, дружелюбные, <br>добросердечные, веселые и образованные люди</div>
  </div>
  <div class="page right-page">
    <div class="word4">Наш сайт предлагает совершить не просто обмень </div>
    <div class="word5">а добавить к этому увлекательному процессу элемент сюрприза</div>
    <div class="word4">Подбор книг для обмена будет выполнен по пожеланиям участников</div>
    <div class="word5">но только при получении книги станет известно</div>
    <div class="word4">какая именно книга будет радовать своего владельца</div>
  </div>
</div>

<!--<div class="containerfirst">
  <div class="word1">Обмен книгами</div>
  <div class="word2">становится всё более </div>
  <div class="word3">популярен</div>
</div>
<div class="wrapper">
<div class="centered-container">
  <div class="centered-container2">
    <div class="containerleft">
        <div class="word4">Это даёт шанс бумажным книгам продлить свою жизнь </div>
    </div>
    <div class="containerright">
        <div class="word5">помогает владельцам книг делиться хорошими<br> историями и получать новые впечатления</div>
    </div>
    <div class="containerleft">
        <div class="word4">Все буккроссеры любят свои книги и любят их читать</div>
    </div>
    <div class="containerright">
        <div class="word5">Они щедрые, новаторские, дружелюбные, <br>добросердечные, веселые и образованные люди</div>
    </div>
    <div class="containerfirst">
      <div class="word2">Интересно? </div>
    </div>
    <div class="containerleft">
      <div class="word4">Наш сайт предлагает совершить не просто обмень </div>
    </div>
    <div class="containerright">
      <div class="word5">а добавить к этому увлекательному процессу элемент сюрприза</div>
    </div>
    <div class="containerleft">
      <div class="word4">Подбор книг для обмена будет выполнен по пожеланиям участников</div>
    </div>
    <div class="containerright">
      <div class="word5">но только при получении книги станет известно</div>
    </div>
    <div class="containerleft">
      <div class="word4">какая именно книга будет радовать своего владельца</div>
    </div>
    </div>
</div>
</div>-->


<!-- <div class="centered-container">
  <div class="form1">
    <div class="left-column">
      <div class="up-column">
      <h2 class="left">Обмен книгами</h2>
      <h2 class="right">становится всё    </h2>
      <h2 class="left">более популярен</h2>
      </div>
      <div class="down-column">
      <h3>Это даёт шанс бумажным
        книгам продлить свою жизнь, помогает владельцам книг делиться хорошими историями и
        получать новые впечатления.</h3>
      <h3> Все буккроссеры любят свои книги и любят их читать. </h3>
      <h3> Они щедрые, новаторские, дружелюбные,
        добросердечные, веселые и образованные люди.</h3>
      </div>
    </div>
  <div class="right-column">
    <h3>Наш сайт предлагает совершить не просто обмен, а добавить к этому увлекательному
      процессу элемент сюрприза. Подбор книг для обмена будет выполнен по пожеланиям участников,
      но только при получении книги станет известно, какая именно книга будет радовать своего
      владельца. </h3>
    <h1 class="right"> Интересно?</h1>
    <h3> Тогда начинайте обмен и приглашайте своих друзей поучаствовать!</h3>
  </div>
  </div>
</div>-->


</body>
