<body>
<div class="header">
      <img src="logo.png" alt="Logo" class="logo">
    <div class="buttons">
      <button (click)="'info1'">Главная</button>
      <button (click)="'info2'">Начать обмен</button>
      <button (click)="'info3'">Мои обмены</button>
      <button (click)="'info4'">Задать вопрос</button>
    </div>
    <div class="auth">
      <button (click)="'showLogin'">Login</button>
      <a routerLink="/registration"> Registration</a>
    </div>
</div>
<div class="centered-container">
    <div class="form">
      <p>Обмен книгами (буккроссер) становится всё более популярен. Это даёт шанс бумажным
        книгам продлить свою жизнь, помогает владельцам книг делиться хорошими историями и
        получать новые впечатления.
        Все буккроссеры любят свои книги и любят их читать. Они щедрые, новаторские, дружелюбные,
        добросердечные, веселые и образованные люди.
        Наш сайт предлагает совершить не просто обмен, а добавить к этому увлекательному
        процессу элемент сюрприза. Подбор книг для обмена будет выполнен по пожеланиям участников,
        но только при получении книги станет известно, какая именно книга будет радовать своего
        владельца. Интересно? Тогда начинайте обмен и приглашайте своих друзей поучаствовать!</p>
    </div>
</div>
</body>
